<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YOLO Toolkit</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/brain-logo.png" />
    <link rel="stylesheet" href="../static/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="/" class="text-nowrap logo-img">
                        <div class="d-flex align-items-center gap-2">
                            <i class="ti ti-brain fs-8"></i>
                            <h5 style="margin-top: 1.3vh;"><strong>YOLO Toolkit</strong></h5>
                        </div>
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>

                <!-- Sidebar Nav -->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <!-- Home -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>

                        <!-- Dashboard -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <!-- Tools -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">TOOLS</span>
                        </li>

                        <!-- KML Compiler -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/kml_compiler" aria-expanded="false">
                                <span>
                                    <i class="ti ti-pin"></i>
                                </span>
                                <span class="hide-menu">KML Compiler</span>
                            </a>
                        </li>

                        <!-- Metadata Extractor -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/metadata_extractor" aria-expanded="false">
                                <span>
                                    <i class="ti ti-photo-down"></i>
                                </span>
                                <span class="hide-menu">Metadata Extractor</span>
                            </a>
                        </li>

                        <!-- Dataset Splitter -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./dataset-splitter.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-arrows-split"></i>
                                </span>
                                <span class="hide-menu">Dataset Splitter</span>
                            </a>
                        </li>

                        <!-- Location Cruiser -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./location-cruiser.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-route"></i>
                                </span>
                                <span class="hide-menu">Location Cruiser</span>
                            </a>
                        </li>

                        <!-- Label Counter -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./label-counter.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-tags"></i>
                                </span>
                                <span class="hide-menu">Label Counter</span>
                            </a>
                        </li>

                        <!-- Info -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">INFO</span>
                        </li>

                        <!-- About -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./about.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-zoom-question"></i>
                                </span>
                                <span class="hide-menu">About</span>
                            </a>
                        </li>

                        <!-- Sponsor -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./sponsor.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-pig-money"></i>
                                </span>
                                <span class="hide-menu">Sponsor</span>
                            </a>
                        </li>

                        <!-- License -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./license.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-license"></i>
                                </span>
                                <span class="hide-menu">License</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="https://github.com/lvcasribeiro/yolo-toolkit"
                                target="_blank">
                                <i class="ti ti-brand-github"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <a href="./about.html" class="btn btn-primary">About</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../static/images/user-profile.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                    aria-labelledby="drop2">
                                    <div class="message-body">
                                        <!-- <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a> -->
                                        <a href="./authentication-login.html"
                                            class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Error</h5>
                        <img src="/static/images/error.svg" class="mx-auto d-block" alt="Error" style="height: 40vh;"> <br>

                        <p class="mb-0">
                            We're sorry, but the page you requested could not be found. It may have been
                            moved or deleted. Please check the URL for any typos or navigate back to the <a class="sidebar-link" href="/" aria-expanded="false"><strong>homepage</strong></a>. If
                            the issue persists, contact our support team for assistance. Thank you for your
                            understanding.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Imports -->
    <script src="../static/libs/jquery/dist/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/sidebarmenu.js"></script>
    <script src="../static/js/app.min.js"></script>
    <script src="../static/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>