<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YOLO Toolkit</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../static/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="/" class="text-nowrap logo-img">
                        <div class="d-flex align-items-center gap-2"> 
                            <i class="ti ti-3d-cube-sphere fs-8"></i>
                            <h5 style="margin-top: 1.3vh;"><strong>YOLO Toolkit</strong></h5>
                        </div>
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                
                <!-- Sidebar Nav -->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <!-- Home -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>

                        <!-- Dashboard -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <!-- Tools -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">TOOLS</span>
                        </li>

                        <!-- KML Compiler -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/kml_compiler" aria-expanded="false">
                                <span>
                                    <i class="ti ti-pin"></i>
                                </span>
                                <span class="hide-menu">KML Compiler</span>
                            </a>
                        </li>

                        <!-- Metadata Extractor -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./metadata-extractor.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-photo-down"></i>
                                </span>
                                <span class="hide-menu">Metadata Extractor</span>
                            </a>
                        </li>

                        <!-- Dataset Splitter -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./dataset-splitter.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-arrows-split"></i>
                                </span>
                                <span class="hide-menu">Dataset Splitter</span>
                            </a>
                        </li>

                        <!-- Location Cruiser -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./location-cruiser.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-route"></i>
                                </span>
                                <span class="hide-menu">Location Cruiser</span>
                            </a>
                        </li>

                        <!-- Label Counter -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./label-counter.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-tags"></i>
                                </span>
                                <span class="hide-menu">Label Counter</span>
                            </a>
                        </li>

                        <!-- Info -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">INFO</span>
                        </li>

                        <!-- About -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./about.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-zoom-question"></i>
                                </span>
                                <span class="hide-menu">About</span>
                            </a>
                        </li>

                        <!-- Sponsor -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./sponsor.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-pig-money"></i>
                                </span>
                                <span class="hide-menu">Sponsor</span>
                            </a>
                        </li>

                        <!-- License -->
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./license.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-license"></i>
                                </span>
                                <span class="hide-menu">License</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="https://github.com/lvcasribeiro/yolo-toolkit" target="_blank">
                                <i class="ti ti-brand-github"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <a href="./about.html" class="btn btn-primary">About</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../static/images/user-profile.jpg" alt="" width="35" height="35"
                                        class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                    aria-labelledby="drop2">
                                    <div class="message-body">
                                        <!-- <a href="javascript:void(0)"
                                            class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a> -->
                                        <a href="./authentication-login.html"
                                            class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div class="container-fluid">
                <!-- Dashboard -->
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-strech">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Accesses Overview</h5>
                                    </div>
                                </div>
                                <div id="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Features Breakup -->
                                <div class="card overflow-hidden">
                                    <div class="card-body p-4">
                                        <h5 class="card-title mb-9 fw-semibold">Features Breakup</h5>
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <h4 class="fw-semibold mb-3">3</h4>
                                                <div class="d-flex align-items-center mb-3">
                                                    <span
                                                        class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-arrow-up-left text-success"></i>
                                                    </span>
                                                    <p class="text-dark me-1 fs-3 mb-0">+200%</p>
                                                    <p class="fs-3 mb-0">last year</p>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <div class="me-4">
                                                        <span
                                                            class="round-8 bg-primary rounded-circle me-2 d-inline-block"></span>
                                                        <span class="fs-2">2023</span>
                                                    </div>
                                                    <div>
                                                        <span
                                                            class="round-8 bg-light-primary rounded-circle me-2 d-inline-block"></span>
                                                        <span class="fs-2">2024</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="d-flex justify-content-center">
                                                    <div id="breakup"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <!-- Monthly Earnings -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row alig n-items-start">
                                            <div class="col-8">
                                                <h5 class="card-title mb-9 fw-semibold">Total Accesses</h5>
                                                <h4 class="fw-semibold mb-3">17</h4>
                                                <div class="d-flex align-items-center pb-1">
                                                    <span
                                                        class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-arrow-down-right text-danger"></i>
                                                    </span>
                                                    <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                                                    <p class="fs-3 mb-0">last year</p>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="d-flex justify-content-end">
                                                    <div
                                                        class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                                                        <i class="ti ti-user-plus fs-6"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="earning"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Update History -->
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-stretch">
                        <div class="card w-100 p-4">
                            <div class="card-body p-4">
                                <div class="mb-4">
                                    <h5 class="card-title fw-semibold">Update History</h5>
                                </div>
                                <ul class="timeline-widget mb-0 position-relative mb-n5">
                                    <li class="timeline-item d-flex position-relative overflow-hidden">
                                        <div class="timeline-time text-dark flex-shrink-0 text-end">Mar-2024</div>
                                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                                            <span
                                                class="timeline-badge border-2 border border-danger flex-shrink-0 my-8"></span>
                                            <span class="timeline-badge-border d-block flex-shrink-0"></span>
                                        </div>
                                        <div class="timeline-desc fs-3 text-dark mt-n1">Class labeling counter tool
                                            <small class="text-dark d-block fw-normal">Under development</small>
                                        </div>
                                    </li>

                                    <li class="timeline-item d-flex position-relative overflow-hidden">
                                        <div class="timeline-time text-dark flex-shrink-0 text-end">Feb-2024</div>
                                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                                            <span
                                                class="timeline-badge border-2 border border-danger flex-shrink-0 my-8"></span>
                                            <span class="timeline-badge-border d-block flex-shrink-0"></span>
                                        </div>
                                        <div class="timeline-desc fs-3 text-dark mt-n1">Crossing points of species and
                                            images tool
                                            <small class="text-dark d-block fw-normal">Under development</small>
                                        </div>
                                    </li>

                                    <li class="timeline-item d-flex position-relative overflow-hidden">
                                        <div class="timeline-time text-dark flex-shrink-0 text-end">Jan-2024</div>
                                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                                            <span
                                                class="timeline-badge border-2 border border-danger flex-shrink-0 my-8"></span>
                                            <span class="timeline-badge-border d-block flex-shrink-0"></span>
                                        </div>
                                        <div class="timeline-desc fs-3 text-dark mt-n1">Training and validation file
                                            generator tool
                                            <small class="text-dark d-block fw-normal">Under development</small>
                                        </div>
                                    </li>

                                    <li class="timeline-item d-flex position-relative overflow-hidden">
                                        <div class="timeline-time text-dark flex-shrink-0 text-end">Dec-2023</div>
                                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                                            <span
                                                class="timeline-badge border-2 border border-warning flex-shrink-0 my-8"></span>
                                            <span class="timeline-badge-border d-block flex-shrink-0"></span>
                                        </div>
                                        <div class="timeline-desc fs-3 text-dark mt-n1">Image metadata extraction tool
                                            <small class="text-dark d-block fw-normal">Maintenance</small>
                                        </div>
                                    </li>

                                    <li class="timeline-item d-flex position-relative overflow-hidden">
                                        <div class="timeline-time text-dark flex-shrink-0 text-end">Nov-2023</div>

                                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                                            <span
                                                class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
                                        </div>
                                        <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">KML file compilation
                                            tool
                                            <small class="text-dark d-block fw-normal">Stable</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tool Cards -->
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="card overflow-hidden rounded-2">
                            <div class="position-relative">
                                <img class="card-img-top rounded-0" src="../static/images/kml-compiler-bg.jpg" alt="...">
                                <div class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"><i class="ti ti-pin fs-4"></i></div>
                            </div>
                            <div class="card-body pt-3 p-4">
                                <h6 class="fw-semibold fs-4">KML Compiler</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="/kml_compiler" class="btn btn-primary">Try it</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-xl-3">
                        <div class="card overflow-hidden rounded-2">
                            <div class="position-relative">
                                <img class="card-img-top rounded-0" src="../static/images/metadata-extractor-bg.jpg" alt="...">
                                <div href="#" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"><i class="ti ti-photo-down fs-4"></i></div>
                            </div>
                            <div class="card-body pt-3 p-4">
                                <h6 class="fw-semibold fs-4">Metadata Extractor</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary disabled">Try it</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="card overflow-hidden rounded-2">
                            <div class="position-relative">
                                <img class="card-img-top rounded-0" src="../static/images/dataset-splitter-bg.jpg" alt="...">
                                <div href="#" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"><i class="ti ti-arrows-split fs-4"></i></div>
                            </div>
                            <div class="card-body pt-3 p-4">
                                <h6 class="fw-semibold fs-4">Dataset Splitter</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary disabled">Try it</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="card overflow-hidden rounded-2">
                            <div class="position-relative">
                                <img class="card-img-top rounded-0" src="../static/images/location-cruiser-bg.jpg" alt="...">
                                <div href="#" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"><i class="ti ti-route fs-4"></i></div>
                            </div>
                            <div class="card-body pt-3 p-4">
                                <h6 class="fw-semibold fs-4">Location Cruiser</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary disabled">Try it</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="card overflow-hidden rounded-2">
                            <div class="position-relative">
                                <img class="card-img-top rounded-0" src="../static/images/label-counter-bg.jpg" alt="...">
                                <div href="#" class="bg-primary rounded-circle p-2 text-white d-inline-flex position-absolute bottom-0 end-0 mb-n3 me-3"><i class="ti ti-tags fs-4"></i></div>
                            </div>
                            <div class="card-body pt-3 p-4">
                                <h6 class="fw-semibold fs-4">Label Counter</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary disabled">Try it</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="py-6 px-6 text-center">
                    <p class="mb-0 fs-3">
                        <i class="ti ti-copyright"></i> Developed by
                        <a href="https://www.linkedin.com/in/lucas-anderson-ribeiro" target="_blank">Lucas Ribeiro</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Imports -->
    <script src="../static/libs/jquery/dist/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/sidebarmenu.js"></script>
    <script src="../static/js/app.min.js"></script>
    <script src="../static/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../static/libs/simplebar/dist/simplebar.js"></script>
    <script src="../static/js/dashboard.js"></script>
</body>

</html>
